@import '../../styles/commons';




.main_experience {
    position: relative;

    height: 92vh;

    // height: 80vh;
    // width: 80%;
    // background-color: pink;

    @media screen  and (min-width: 768px) {
        height: 100vh;
    }
}

.main_experience__canvas {
    @include absolute(0, 0, 0, 0);

}

.main_experience__side {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 70%;
    left: 10%;
    
    width: 80vw;
    height: 20%;

    padding: 2rem 1rem;

    background-color: rgba(pink, .5);
    backdrop-filter: blur(4px);

    color: $BLACK_ALT_COLOR;
    font-weight: 500;

    border-radius: 10px;

    z-index: 10;
}

.main_experience__side_text {
    text-align: center;
    max-width: 560px;
}


.main_experience__side_go_down__container {
    position: absolute;
    bottom: -30px;
    
    width: 60px;
    height: 60px;

    border-radius: 50%;

    @media screen and (min-width: 768px) {
        bottom: -50px;
        width: 88px;
        height: 88px;
    }

}
.main_experience__side_go_down {    
    width: 100%;
    height: 100%;

    border-radius: 50%;

    background-color: rgba(whitesmoke, .9);
    color: $BLACK_COLOR;
    border: 5px solid rgba($color: #1e1e1e, $alpha: .9); // rgba(white, .1);

    cursor: pointer;

    
    animation: bounce_kf 1.6s cubic-bezier(0.23, 1, 0.320, 1) 1s infinite normal forwards;
}
