
@import '../../styles/commons';



.page {
    background: rgba($color: #000000, $alpha: .6);
    // backdrop-filter: blur(.1px);
}


.contact_section {
    background-color: $BLACK_ALT_COLOR;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 4rem 0;
}
.contact {

    
    @media screen and (max-width: 880px) {
        padding: 5vh 15vw;
    }
    @media screen and (min-width: 880px) {
        padding: 5vh 20vw;
    }
    @media screen and (min-width: 1080px) {
        padding: 5vh 26vw;
    }
}

.contact_card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


    padding: 1rem 2rem;

    border-radius: 10px;

    margin-bottom: 3vh;

    background-color: $PRIMARY_COLOR;
    background: linear-gradient(
        60deg,
        $PRIMARY_COLOR,
        $TERTIARY_ALT_COLOR
    );

    transition: 300ms;

    p {
        margin-left: 1rem;
    }
 
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 20px 0px rgba(#dde7d9, .3);
        background: linear-gradient(
            60deg,
            $TERTIARY_ALT_COLOR,
            $PRIMARY_COLOR,
        );
    }
}

.dev_experience {
    height: 100vh;
    width: 100%;
}